body {
    background-image: url(./Ww2_allied_axis_1939_sep.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Invasion_of_Poland {
    display: flex;
    justify-content: space-around;
}

img {
    width: 500px;
    height: 400px;
}

.info {
    border: 10px solid;
    background-color: white;
}
.Winter_war {
    display: flex;
    justify-content: space-around;
}
